<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ng-scope" ng-app="app"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>rfpyo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="scripts/main.js"></script>
    </head>
    <body ng-controller="AppController" class="ng-scope">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="center-block">
                <div class="form-group">
                    <label>New Phrase</label>
                    <input type="text" class="form-control"/>
                    <button class="btn btn-primary" ng-click="addPhrase(phrase)">Add Phrase</button>
                </div>
                <div class="form-group">
                    <label>Search</label>
                    <input ng-model="query" type="text" class="form-control" id="phraseSearch" placeholder="Tag phrase" />
                </div>
            </div>
            <ul>
            <li ng-repeat="phrase in phrases | filter:query">
                {{phrase.phrase}}
                <ul>
                    <li ng-repeat="tag in phrase.tags">
                        {{tag}}
                    </li>
                </ul>
            </li>
            </ul>
        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->

        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->

        <!-- endbuild -->
</body>
</html>
