<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ng-scope" ng-app="app"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>rfpyo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- endbuild -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="scripts/main.js"></script>
    </head>
    <body ng-controller="AppController" class="ng-scope">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container-fluid main">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border-right: 1px solid #ccc">
                    <form ng-submit="addPhrase()">
                        <label><i class="fa fa-fw fa-comment"></i> Add a phrase</label>
                        <textarea id="newPhraseText" placeholder="Add a phrase" type="text" class="form-control" style="resize: vertical"></textarea>
                        <br />
                        <label><i class="fa fa-fw fa-tags"></i> Tags</label>
                        <input id="newPhraseTags" placeholder="e.g. Dallas, Settlement" type="text" class="form-control" />
                        <p class="help-block">Separate them with commas</p>
                        <br />
                        <button class="btn btn-primary">Add</button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border-right: 1px solid #ccc">
                    <div class="form-group">
                        <label><i class="fa fa-fw fa-search"></i> Search</label>
                        <input ng-model="query" type="text" class="form-control" id="phraseSearch" placeholder="Search by phrase or tags" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 cold-sm-6 col-xs-12">
                    <label><i class="fa fa-fw fa-comments"></i> Phrases</label>
                    <div class="phrases">
                        <div class="phrase phrase-{{ $odd ? 'odd' : 'even' }}" ng-repeat="phrase in phrases | filter:query">
                            {{phrase.phrase}}
                            <a class="close" ng-click="removePhrase($index)">&times;</a>
                            <div class="tags row">
                                <span class="tag bg-primary" ng-repeat="tag in phrase.tags">
                                    <i class="fa fa-fw fa-tag"></i> {{tag}}
                                </span>
                            </div>
                            <div ng-hide="phrases.length">No phrases</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->

        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->

        <!-- endbuild -->
</body>
</html>
